
            [core]
                    excludesFile = ~/.gitignore
                    quotepath = off
                    checkStat = minimal
            [pull]
                    rebase = false
            [user]
                    name = Sazilla Muhammad
                    email = sazilla79@gmail.com
            [credential]
                    helper = "!f() { echo \"username=$(cat /psb/tokens/.github)\npassword=\"; }; f"
        